/* reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* base-font-size */ 
html { 
    font-size: 16px; 
}
/* base-font-size */

:root {
    /* colors */
    --color-white: #ffffff;
    --color-gray: #333333;
    --color-black: #000000;
    --color-accent1: #0e0240;
    --color-accent2: #bfaeb4;

    /* fonts */
    --font-default: 'Open-sans', sans-serif;
    --font-heading: 'Palanquin Dark', Arial;
    --font-text: 'Lato', sans-serif;
    --font-phone: 'Montserrat', sans-serif;
    --font-button: 'Open-sans', sans-serif;
    --font-link: 'Open-sans', sans-serif;

    /* global content width */
    --content-width-xl: 1140px;     /* mq 1200px */
    --content-width-lg: 940px;     /* mq 992px */
    --content-width-md: 720px;     /* mq 768px */
    --content-width-sm: 540px;     /* mq 576px */
    --content-width-xs: 440px;     /* mq 420px */
    --content-width-vs: 400px;     /* mq 420px? */
    --content-width-xxs: 340px;     /* mq 420px? */
}

.page-wrapper {
    position: relative;
    margin: 0 auto;
}

/* 
@media (min-width: 1400px) {
.page-wrapper {
    width: var(--content-width-xxl) !important;
}
} */

@media (min-width: 1200px) {
.page-wrapper {
    width: var(--content-width-xl) !important;
}
}

/* 
@media (min-width: 1200px) and (max-width: 1399px) {
.page-wrapper {
    width: var(--content-width-xl) !important;
}
} */

@media (min-width: 992px) and (max-width: 1199px) {
.page-wrapper {
    width: var(--content-width-lg) !important;
}
}

@media (min-width: 768px) and (max-width: 991px) {
.page-wrapper {
    width: var(--content-width-md) !important;
}
}

@media (min-width: 576px) and (max-width: 767px) {
.page-wrapper {
    width: var(--content-width-sm) !important;
}
}

@media (min-width: 480px) and (max-width: 575px) {
.page-wrapper {
    width: var(--content-width-xs) !important;
}
}

@media (min-width: 420px) and (max-width: 479px) {
.page-wrapper {
    width: var(--content-width-vs) !important;
}
}

@media (min-width: 376px) and (max-width: 419px) {
.page-wrapper {
    width: var(--content-width-xxs) !important;
}
}

@media (max-width: 375px) {
.page-wrapper {
    width: var(--content-width-xxs) !important;
}
}

/* 
@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

-- Grote smartphones / phablets --

@media (max-width: 575px) {

}

-- Standaard smartphones --
@media (max-width: 480px) {

}

-- Kleine smartphones --
@media (max-width: 360px) {

}

*/
