/* Hier komt de opmaak van de standaard elementen zoals kopteksten, paragraph */

/* STANDARD CLASSES */
	* {

	}

html, body {
    overflow-x: hidden;
}

body {
	font-family: var(--font-default);
	color: var(--color-black);
	background-color: var(--color-white);
	min-height: 100vh;
	/* display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; */
	display: grid;
	grid-template-rows: auto 1fr auto;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}

header nav a {
	font-size: 1.3rem;
	font-weight: 400;
}

main {
	position: relative;
}

footer {
	background-color: #333333;
	color: var(--color-white);
	padding: 15px;
	/* width: 100%; */
	display: flex;
	justify-content: center;
}

footer nav {
	width: fit-content;
}

footer a {
	color: var(--color-white);
}

section {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
	text-transform: capitalize;
	color: var(--color-accent1);
}

h1 {
	text-transform: uppercase;
	/* font-size: xxx-large; */
	/* font-size: 64px; */
	font-size: 4rem;
}

h2 {
	font-size: xx-large;
}

p {
	margin-bottom: 20px;
}

a {
	/* border-radius: 25px;
	border: none; */
	padding: 10px 15px;
	/* background-color: hsla(0, 0%, 100%, 0.75); */
	color: var(--color-black);
	text-decoration: none;
}

a:hover,
a:active {
	background-color: transparent;
	color: hsla(0, 0%, 100%, 0.75) !important;
	border: solid 3px hsla(0, 0%, 100%, 0.75);
	outline: none;
	bottom: 37px;
	cursor: -webkit-grab;
	cursor: grab;

}

/* button {} - zie CUSTOM CLASSES*/

/* CUSTOM CLASSES */

.logo {
	height: 140px;
	/* margin: 20px 0; */
	box-shadow: 0px 0px 20px silver;
	/* border: solid 2px #7A1A82; */
	/* border-bottom: 2px solid #7A1A82;
  	border-left: 2px solid #7A1A82; */
	/* border-radius: 999px;
	padding: 0 70px; */
	 border-bottom: 10px solid; 
	 border-left: 10px solid; 
	border: 10px solid;
	border-image: linear-gradient(var(--color-accent2), var(--color-accent1)) 5;
}

.logo img {
	height: 100%;
}

.button_link,
button {
	background-color: var(--color-accent1);
	color: var(--color-white);
	border: none;
	padding: 10px 30px;
	font-family: var(--font-button);
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	border-radius: 20px;
	margin: auto;
}


.button_link:hover,
button:hover {
	background-color: #c6cce9;
	color: #111111;
}